# Env file
.env

# Local properties file
local.properties

# Gradle layers
.gradle/
build/
app/build/
gradle-home/

# Android Studio & VS Code layers
.idea/
*.iml
.vscode/

# System files
.DS_Store
node_modules

# ProGuard rules
*proguard-rules.pro

# Keystore
Palls.jks

# Release artifacts
/release/
*.apk

# Customizations
.agent/
.kotlin/
